@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/open_sans/OpenSans-Regular.ttf");
	font-size: 1em;	
}

@font-face {
	font-family: 'OpenSans-Light';
	src: url("../fonts/open_sans/OpenSans-Light.ttf");
	font-size: 1em;	
}

@media only screen and (min-width: 768px){
	.col_table_4 {
		flex: 0 0 33.333333%;
		max-width: 81.333333%;
		left: 9%;
	}

}

@media only screen and (min-width: 1400px){
	.col_table_4 {
		flex: 0 0 33.333333%;
		max-width: 70.333333%;
		left: 14%;
	}
}
@media only screen and (max-width: 768px){

	header.open_menu #menu-mobile-mask{
		position: fixed;
		top: 0px;
		background-color:  rgba(0, 0,0, .5);
		width: 100%; 
		left: 0;
		height: 100%;
		z-index: 2;
	}

	header.open_menu #logotipo {
		position: fixed;
		top: 70px;
		height: 45px;
		width: 130px;
		left: calc(17% - 70px);
		z-index: 3;
		transform: rotate(360deg);
	}



	header.open_menu #menu-mobile{
		left: 0;
	}

	header.open_menu #menu-mobile li{
		text-align: center;
		border-top: #CCC 1px solid;
		
	}

	header.open_menu #menu-mobile li:last-child{
		
		border-bottom: #CCC 1px solid;
	}

	header.open_menu #menu-mobile li a{
		color: #ff7e00;
		font-family: 'OpenSans';
		font-weight: bold;
		font-size: 16px;
		padding: 18px;
		display: block;
	}

	header.open_menu #menu-mobile ul{
		margin: 20px;
		margin-top: 100px;
	}

	header #menu-mobile{
		position: fixed;
		top: 40px;
		background-color:  #fff;
		width: 37%; 
		left: -50%;
		height: 100%;
		transition: 1s;
		z-index: 3;
		transition-property: transform; /* Essa linha evita que o Li percam a formatação ao fechar*/

	}

	header .bar-close{
		position: absolute;
		bottom: 42px;
		background-color: #ff7e00;
		height: 61px;
		width: 100%;
	}
	header .bar-close .btn-close{
		background: none;
		border: none;
		color: #ffF;
		font-size: 50px;
		
	}


	.container-logo ul{

		display: none;

	}
	header .contact, .vl-client, .vl-list-socials{
		display: none;
	}

	header #logotipo {
		position: absolute;
		top: 20px;
		left: 5%;
		transition: 1s;
	}

	footer .text-copyright {
		
		left: 10%;
		
	}

	.col_table_4 {
		flex: unset ;
		max-width: unset;
		left: unset;
	}

	.col-4 {
		
		 flex: unset; 
		 max-width: unset; 
	}
	
	

	#btn-bars{
		color: #ff7e00;
		font-size: 32px;
		position: absolute;
		left: 0;
		top: 3px;
		background: none;
		border: none;
		display: block;
		z-index: 3;
		
	}

	header .container-logo h1 {		
		left: 38%;		
	}



	.col-md-12 {		
		padding-right: 0px;
	}

	.list-group-item {
		
		padding: 0 ; 
		
	}

	.row {
		 margin-right: 0;		
	}

	footer .row-white {
		display: none;
	}



	._showForm {		
		margin-top: 30px;

	}

}




@media only screen and (max-width: 480px){
	
	

	.header-white-small ul, .client{
		display: none;
	}

	header #logotipo {		
		left: 18px;		
	}

	header #menu-mobile {
		
		width: 70%;
		left: -70%;	
	}

	header .container-logo h1 {
		left: 34%;
	}

	header.open_menu #logotipo {		
		height: 38px;
		width: 115px;
		left: calc(34% - 61px)	
	}

	header.open_menu #menu-mobile ul {
		margin: 0px;
		margin-top: 68px;
		left: 92px;
	}

	header.open_menu #menu-mobile li a {		
		font-size: 14px;
		padding: 13px;		
	}
	header.open_menu .bar-close {		
		bottom: 40px;		
		height: 39px;		
	}

	header.open_menu .bar-close .btn-close {		
		font-size: 34px;
		padding: 2px 0 0 4px;		
	}

	._input_verifyDomain {
		width: 60%;
		display: inline-block;
	}

	._verifyDomain h3{
		font-size: 22px;

	}

	header.open_menu #menu-mobile li a{
		
		display: block;
	}

}


@media only screen and (max-width: 560px){

	header.open_menu #menu-mobile li a{
		
		display: block;
	}

	header .list-unstyled {
		display: block;
	}

	header .row-cont{
		display: none;
	}

	header #logotipo {
		
		left: 34%;
		
	}

	header .container-logo h1 {
		display: none;
	}

	@media only screen and (max-width: 360px){
		footer .row p {
			display: block;
			margin: 0;
			font-size: 14px;
			height: 50px;
			left: 0px;
		}

		header #menu-mobile {
			
			width: 70%;
			left: -70%;
			
		}
	
		header .list-unstyled {
			
			left: 20%;
		}	
	
		header .container-logo h1 {
			display: none;
		}
	
		header #logotipo {
			left: 80px !important;
		}
	
		
	
		header.open_menu #menu-mobile li {
			
			margin-top: 15px;
		}
	
		header.open_menu #menu-mobile ul {
			
			left: 40px;
		}

		header.open_menu #logotipo {
			
			left: calc(34% - 61px)!important;
		}
		
	}

	
}

