@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/open_sans/OpenSans-Regular.ttf");
    font-size: 1em; 
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url("../fonts/open_sans/OpenSans-Light.ttf");
    font-size: 1em; 
}

header{
    width: 100%;
    height: 170px;
    background: #FFF;    
    

}

header .header-white-small{
    background-color: #FFF;
    height: 40px;
    border-bottom: 1px solid #f2f2f2;

}


header #logotipo {   
    position: absolute;
    top: 15px;
    
}
header .row-cont{
    background-color: blue;
}

header .list-unstyled{
    float: left;
    position: absolute;
    top: 10px;
    left: 54%;
    
}

header .list-socials li{
    display: inline-block;
    
}

header .list-socials a {
    display: inline-flex;
    width: 41px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    color: #ff7e00;
}

header .vl{    
    position: absolute;    
    border-left: 1px solid #f2f2f2;
    height: 19px;    
    top: 10px;
}

header .vl-list-socials { 
    
    right: 215px;
    
}

header .vl-client{    
    
    right: 330px;
    
}

header .contact {
    
    position: absolute;
    right: 231px;
    font-size: 14px;
    top: 10px;
    
}
header .contact a{
    color: #ff7e00;
}

header .client {
    
    position: absolute;
    right: 80px;
    font-size: 14px;
    top: 10px;
    
}
header .client a{
    color: #ff7e00;
}

header .row{
    position: relative;
}


header .row-gray{      
       position: absolute;
       width: 100%;
       background-color: #EEE;       
       height: 50px;
}

.container1{
    display: block;
}

header .container{
    position: relative;

}

header .container-white-small{
    float: right;
}

header .container-logo{
    display: inline-flex;
    left: 10%;
}

header .container-logo h1 {
    font-size: 2.0rem;
    position: absolute;
    left: 15%;
    color: #ff7e00;
    top: 34px;
}

header .header h1{
    text-align: center;
    margin-top: 30px;
}



body {
  overflow-x: hidden;
  
}

#menu{
    margin: 16px;
    position: absolute;
    left: 45%;
    top: 24px;
    width: 845px;
}

#menu li {
    display: inline-block;  
    /*font-family: "Arial"; */
}

#menu li a {
    color: #404040;
    font-size: 18px;
    padding: 0px 36px;
    /* font-weight: bold; */
    /* text-shadow: #ccc 0.1em 0.1em 0.2em; */
    text-decoration-color: #ff7e00;
}


.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: none;
}
.services-gray{
    top: 133px !important;
   
}
.services-gray h2 {
    font-size: 27px;
    position: relative;
    top: 7px;
    text-align: center;
    color: #ff7e00;
}


#about {
    position: relative;
    top: 54px;
}

table{
    width: 100%;
    margin-top: 30px;
    
}
table, th, td {
  border: 1px solid black;
  /*border-collapse: inherit;*/
}

th, td {
  padding: 5px;
  text-align: left;
  width: 203px;    
}


section .fundo{
    margin-top: 50px;
}


footer {
    margin-top: 110px;
}

footer .row {
    width: 100%;
    margin: 10px;
    
}

footer .row p  {
    line-height: 64px;
    display: inline;
}

footer .row-white{
    height: 240px;
    background-color: #FFF;
    border-top: 1px solid #f2f2f2;
}

footer .row-orange {
    height: 60px;
    background-color: #ff6f00;
    margin-left: 0px;
    margin-bottom: 0;
}
footer .text-copyright {
    color: #FFF;
    font-family: 'Arial';
    font-size: 17px;
    position: relative;    
    left: 33%;    
    display: flex;
    margin-top: 4px;
}




footer .text-gray{
    color: #666;
    font-family: 'OpenSans';
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    right: 3%;
    

}


footer .col-md-3{
    margin-top: 30px;
}

footer .row-cols h4 {
    
    font-family: 'OpenSans';
    font-size: 19px;
    font-weight: bold;
    position: absolute;
    left: 0px;
    color: #000;
    /* padding-bottom: 17px; */
    /* border-bottom: #242D37 1px solid; */

}

footer .row-cols h5{
    color: #666;
    font-family: Arial;
    font-size: 14px;
    margin-bottom: 0;
}
footer .row-cols time{
    color: #FDE092;
    font-family: Arial;
    font-size: 14px;
}

footer .col-links a,
footer .col-get-in-touch a {
    color: #666;
    font-family: Arial;
    font-size: 14px;
}

footer .col-get-in-touch address{
    color: #666;
    font-family: Arial;
    font-size: 14px;
    margin-bottom: 0;
}
footer .col-get-in-touch address span{
    display: block;
    position: absolute;
    left: 46px;
    top: 0px;

}
footer .col-get-in-touch address i{
    position: relative;

    top: 6px;

    margin-left: 7px;
}
footer .col-get-in-touch i{
    color: #9B9B9B;
    font-size: 20px;
    margin:0 6px;
}
footer .col-get-in-touch p{
    line-height: 20px;
}

footer .txt-gray{
    color: #666;
    font-size: 15px;
    
}

footer .horario{
    position: absolute;
    top: 52px;
    left: 3px;
}



footer .email {
    position: absolute;
    left: 3px;
    padding-left: 0px;
    top: 80px;
}

footer .telefone {
    position: absolute;
    top: 105px;
    left: 1px;
}

/*footer .endereco {
    position: absolute;
    top: 110px;
}*/



footer .skype{
    position: absolute;
    top: 133px;
    left: 3px;
}

footer .whatsapp{
    position: absolute;
    top: 159px;
    left: 3px;
}



footer .list-footer{
    left: 3px;
}

footer .list-socials {
    position: absolute;
    top: 150px;
}

footer .list-socials li {
    display: inline-block;
    margin-right: 8px;
}
footer .list-socials a {
    display: block;
    border: #9B9B9B 1px solid;
    width: 41px;
    height: 30px;
    line-height: 28px;
    border-radius: 14px;
    text-align: center;
}
footer .list-socials i {
    font-size: 18px;
    margin: 5px auto;

}


section .mx-auto h2 {
    font-size: 29px;
    margin-bottom: 42px;
}

.incidentes-email{
    border-bottom: 3px solid #f2f2f2;
    margin-bottom: 23px;
}

.incidentes-email h3{
    font-weight: bold;
    text-align: center;
}

.lead{
    
    text-align: center;

}

.incidentes-email span{
    text-decoration: underline;    
}

.incidentes-email h3 a {
    
    color: #000;
    text-decoration: underline;
    background-color: transparent;   
    
}

.primarytable{
    width: 50%;
    margin: auto;
}

.secundarytable{
    width: 60%;
    margin: auto;
}

.badge {    
    font-size: 100%;
    font-weight: 700;
    margin-right: 4%;    
}






@media (max-width: 768px){

	header .list-unstyled{
		float: left;
		position: absolute;
		top: 10px;
		left: 5%;
	    
	}

	header #logotipo {
	    position: absolute;
	    top: 15px;
	    left: 200px;
	}

	

}

