<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Lista de Eventos
          </h1>
        </section>
        
        <!-- Main content -->
        <section class="content">
        
          <div class="row">
              <div class="col-md-12">
                  <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Editar Evento</h3>
                    </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" action="/admin/events/{$incidentes.id}" method="post">
                    <div class="box-body"> <!-- class="box-body" -->

                        <div class="form-group">
                            <label for="title"><h3>Titulo</h3></label>
                            <input type="text" class="form-control" id="title" name="title" value="{$incidentes.title}" placeholder="Digite a Titulo">
                        </div>
          
                        <div class="form-group">
                          <label for="descricao"><h3>Descrição</h3></label>                      
                          <textarea class="form-control" rows="5" id="descricao" name="descricao" placeholder="Digite a descrição">{$incidentes.descricao}</textarea>
                        </div>
                            
                        
                        <div class="col-md-4">
                            <h3>Hospedagem</h3>                            
                                
                            <ul class="list-group list-group-flush">

                                
                                <li class="list-group-item hidden">
                                    HOSPEDAGEM
                                    <label class="switch ">
                                    <input type="checkbox" class="primary primary_email" value="1" {if="$incidentes.category_hospedagem == 1 "}checked{/if} id="category_hospedagem" name="category_hospedagem">
                                    <span class="slider round"></span>
                                    </label>
                                </li>
                                
                                <li class="list-group-item">
                                    HTTP
                                    <label class="switch ">
                                    <input type="checkbox" class="primary" value="1" {if="$incidentes.category_hospedagem_http == 1 "}checked{/if} id="category_hospedagem_http" name="category_hospedagem_http">
                                    <span class="slider round"></span>
                                    </label>
                                    
                                </li>
                                <li class="list-group-item">
                                    APACHE
                                    <label class="switch ">
                                    <input type="checkbox" class="primary" value="1" {if="$incidentes.category_hospedagem_apache == 1 "}checked{/if} id="category_hospedagem_apache" name="category_hospedagem_apache">
                                    <span class="slider round"></span>
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    NGINX
                                    <label class="switch ">
                                    <input type="checkbox" class="primary" value="1" {if="$incidentes.category_hospedagem_nginx == 1 "}checked{/if}  id="category_hospedagem_nginx" name="category_hospedagem_nginx">
                                    <span class="slider round"></span>
                                    </label>
                                </li>
                                
                            </ul>
                        </div>
                            
                        <div class="col-md-4">
                            <ul>
                                <div class="card-header"><h3>Cluster</h3></div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                    Plesk linux 1
                                        <label class="switch ">
                                        <input type="checkbox" class="primary" value="1" {if="$incidentes.category_hospedagem_lin1 == 1 "}checked{/if} id="category_hospedagem_lin1" name="category_hospedagem_lin1">
                                        <span class="slider round"></span>
                                        </label>
                                    </li>

                                    <li class="list-group-item">
                                    Plesk linux 3
                                        <label class="switch ">
                                        <input type="checkbox" class="primary" value="1" {if="$incidentes.category_hospedagem_lin3 == 1 "}checked{/if} id="category_hospedagem_lin3" name="category_hospedagem_lin3">
                                        <span class="slider round"></span>
                                        </label>
                                    </li>
                                    <li class="list-group-item">
                                    Plesk Windows
                                        <label class="switch ">
                                        <input type="checkbox" class="primary" value="1" {if="$incidentes.category_hospedagem_win == 1 "}checked{/if} id="category_hospedagem_win" name="category_hospedagem_win">
                                        <span class="slider round"></span>
                                        </label>
                                    </li>
                                </ul>
                            </ul>
                        </div>                        
                          
                        <div class="col-md-4">

                            <div class="card-header"><h3>Previsões</h3></div>

                            <div class="form-group" id="http">
                                <label for="previsao">Previsão Http</label>
                                <input type="text" class="form-control" id="previsao_http" value="{$incidentes.previsao_http}" name="previsao_http" placeholder="Digite a previsao" style="width: 150px">
                            </div>

                            <div class="form-group" id="apache">
                                <label for="previsao">Previsão Apache</label>
                                <input type="text" class="form-control" id="previsao_apache" value="{$incidentes.previsao_apache}" name="previsao_apache" placeholder="Digite a previsao" style="width: 150px">
                            </div>

                            <div class="form-group" id="nginx">
                                <label for="previsao">Previsão Nginx</label>
                                <input type="text" class="form-control" id="previsao_nginx" value="{$incidentes.previsao_nginx}" name="previsao_nginx" placeholder="Digite a previsao" style="width: 150px">
                            </div>

                            
                        </div>
          
                        <div class="form-group">
                          <label for="status_service"><h3>Status</h3></label>                      
                          <select class="form-control" id="status_service" name="status_service" value="{$incidentes.status_service}" style="width: 150px" >
                                <option selected>{$incidentes.status_service}</option>
                                <option value=0>Resolvido</option>
                                <option value=1>Em Análise</option>                                
                          </select>
                        </div>
                      
                    </div>
                        
                        
                      
                  <!-- /.box-body -->
                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                  </div>
                </form>
              </div>
              </div>
          </div>
        
        </section>
        <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->