<section>           

  <div class="row clearfix">
      <div class="col-md-12 column">
          <div class="list-group">


          	<ul class="list-group">
			  <li class="list-group-item">

			  	<table>
				  <tr>
				    <th>Serviço</th>
				    <th>Status</th>
				   <!-- <th>Previsão</th>-->
				  </tr>
				  
				  <tr>
				    <td><h5><span class="cluster-email">Email</span></h5></td>
				    <td>
				    	<span class="{$statusEmail}">{$messageStatusEmail}</span>
				    	<a href="email">						
				  	    	<i class="fas fa-plus-circle" title="Saiba mais" data-toggle="tooltip" data-placement="bottom" ></i>
				  	    </a>
				    </td>
				   <!-- <td>0 minutos</td>-->
				  </tr>

				  <tr>
				    <td><h5><span class="cluster-email">Hospedagem Web</span></h5></td>
				    <td>
				    	<span class="{$statusHopedagem}">{$messageStatusHospedagem}</span>			    
					    <!--<td><span class="badge badge-success">Operational</span></td> -->
					    <a href="hospedagem">
					    	<i class="fas fa-plus-circle" title="Saiba mais" data-toggle="tooltip" data-placement="bottom" ></i>
					    </a>

				     </td>	
				    <!--<td>0 minutos</td>-->
				  </tr>

				  <tr>
				    <td><h5><span class="cluster-email">Backup</span></h5></td>
				    <td>
				    	<span class="{$statusBackup}">{$messageStatusBackup}</span>
				    	<a href="backup">
						    <!--<td><span class="badge badge-warning">Warning</span></td>-->
						    <i class="fas fa-plus-circle" title="Saiba mais" data-toggle="tooltip" data-placement="bottom" ></i>
					    </a>
				    </td>
				    <!--<td>0 minutos</td>-->
				  </tr>


				</table>


                                   					
			  </li>

				<!--
			  <li class="list-group-item">

				<table>
				  <tr>
				    <th>
				    		<span class="hospedagem">Hospedagem<p>Web</span>
                      		 
                      		<a href="#"  data-toggle="tooltip" data-placement="bottom" title="Access database server and execute queries">
                        	<i class="fa fa-question-circle"></i>
                      		</a>
                		
                	</th>

				    <th>Status</th>
				    <th>Previsão</th>
				  </tr>
				  
				  <tr>
				    <td class="plesk"><h5>Linux 1 <span class="ipLin1 plesks">149.56.175.201</span></h5></td>
				    <td><span class="badge badge-success">Operational</span></td>
				   <!-- <td><span class="badge badge-danger">Not Operational</span></td> -->
				   <!-- <td>0 minutos</td>
				  </tr>


				  <tr>
				    <td class="plesk"><h5>Linux 3<span class="ipLin3 plesks">149.56.157.199</span></h5></td>
				    <td><span class="badge badge-success">Operational</span></td>
				    <td>0 minutos</td>
				  </tr>


				  <tr>
				    <td class="plesk"><h5>Windows <span class="ipWin plesks">199.59.96.204</span></h5></td>
				    <td><span class="badge badge-success">Operational</span></td>
				    <td>0 minutos</td>
				  </tr>


				</table>

			  	                     

			  </li> 


			  <li class="list-group-item">
			  	

                <table>
				  <tr>
				    <th>
				    	
                      		Backup 
                      		
                      		<a href="http://status.mav.com.br/services/email.php"  data-toggle="tooltip" data-placement="bottom" title="Informações relevantes sobre os serviços">
                        	<i class="fa fa-question-circle"></i>
                      		</a>
                		
                	</th>

				    <th>Status</th>
				    <th>Previsão</th>
				  </tr>
				  
				  <tr>
				    <td><h5>Server 01</h5></td>
				    <td><span class="badge badge-success">Operational</span></td>
				    <td>0 minutos</td>
				  </tr>


				  <tr>
				    <td><h5>Server 02</h5></td>
				    <td><span class="badge badge-success">Operational</span></td>
				    <td>0 minutos</td>
				  </tr>


				  <tr>
				    <td><h5>Server 03</h5></td>
				    <td><span class="badge badge-success">Operational</span></td>
				    <td>0 minutos</td>
				  </tr>


				</table>

			  </li>-->                

			</ul>
              
          </div>
        </div>
        
  </div>
</section>


<section>

	  
	<div class="container">
		<div class="row fundo">
			<div class="col-md-6 noticias">
				<h2>Incidentes</h2>
				<ul class="timeline">

					{loop="$incidentes"}
						<li>

							<a href="{$value.category}/{$value.id}">{$value.title}</a>

							<p>{$value.dt_criacao}</p>					
							
							<p>{$value.descricao}</p>

						</li>
				  {/loop}
										
				</ul>
			</div>

			<div class="col-md-6 avisos">
				<h2>Comunicados</h2>

				<ul class="timeline">
				
					{loop="$comunicados"}
						<li>
							<a href="{$value.category}/{$value.id}">{$value.title}</a>

							<p>{$value.dt_criacao}</p>				
							
							<p>{$value.descricao}</p>
							
						</li>
				  {/loop}
					
				</ul>
			</div>
		</div>
	</div>

</section>


</body>
</html>

