<section>           

<div class="row clearfix">

	
	<div class="col-md-12 column">
		<div class="list-group">
      <ul class="list-group">
			  <li class="list-group-item">
				<div class="primarytable table-responsive-sm">

					<div class="col-4 col_table_4">
				
			  	<table class="table table-sm table-striped table-bordered table-condensed table-hover">
						<tr>
							<th scope="col"><span class="d-flex justify-content-center"> Serviço</span></th>
							<th scope="col"><span class="d-flex justify-content-center"> Status</span></th>
							
						</tr>
						
						<tr>
							<td><h5><span class="cluster-email d-flex justify-content-center">Email</span></h5></td>
							<td>
								<div class="d-flex justify-content-center">
									<span class="{$statusEmail}">{$messageStatusEmail}</span>
									<a href="mail-details">						
										<i class="fas fa-plus-circle fa-lg" title="Saiba mais" data-toggle="tooltip" data-placement="bottom" ></i>
									</a>
								</div>
							</td>
												
							
						</tr>

						<tr>
							<td><h5><span class="cluster-email d-flex justify-content-center">Hospedagem Web</span></h5></td>
							<td>
								<div class="d-flex justify-content-center">
									<span class="{$statusHospedagem}">{$messageStatusHospedagem}</span>			    
									<!--<td><span class="badge badge-success">Operational</span></td> -->
									<a href="web-details">
										<i class="fas fa-plus-circle fa-lg" title="Saiba mais" data-toggle="tooltip" data-placement="bottom" ></i>
									</a>
								</div>
							</td>							
							
						</tr>

						<tr>
							<td><h5><span class="cluster-email d-flex justify-content-center">Backup</span></h5></td>
							<td >
								<div class="d-flex justify-content-center">
									<span class="{$statusBackup}">{$messageStatusBackup}</span>
									<a href="backup">
										<!--<td><span class="badge badge-warning">Warning</span></td>-->
										<i class="fas fa-plus-circle fa-lg" title="Previsão {$previsaBackup}" data-toggle="tooltip" data-placement="bottom" ></i>
									</a>
								</div>
							</td>							
							
						</tr>

						<tr>
							<td><h5><span class="cluster-email d-flex justify-content-center">Painel de Controle</span></h5></td>
							<td >
								<div class="d-flex justify-content-center">
									<span class="{$statusPainel}">{$messageStatusPainel}</span>
									<a href="painel">
										<!--<td><span class="badge badge-warning">Warning</span></td>-->
										<i class="fas fa-plus-circle fa-lg" title="Previsão {$previsaoPainel}" data-toggle="tooltip" data-placement="bottom" ></i>
									</a>
								</div>
							</td>							
							
						</tr>
					</table> 
				</div> 
				</div>                                 					
			  </li>
			</ul>
              
    </div>
  </div>        
</div>

</section>

<section>
		<div class="container {$showOrHidden}"  id="container_verifyDomain">
				<form role="form" action="/" method="post" id="createincident"> <!-- form role="form" -->

					
					 <div class="label_verifyDomain _verifyDomain" >
						<label for="title"><h3>Veja se seu domínio está sendo afetado</h3></label>
					 </div>

					  <div class="form-group _verifyDomain">
						 
						  <input type="text" class="form-control _input_verifyDomain" id="domain" name="domain" placeholder="Digite seu domínio" required>

						  <button type="submit" class="btn btn-success btn_verifyDomain">Consultar</button>
					  </div>					  
					 
					  

					  <div class="alert alert1 {$colorMsgHospedagemWeb} alert-dismissible fade show {$showOrHiddenMsg} col" role="alert">
							<span >{$resultVerifyDomainHospedagemWeb} </span>
						<button type="button" class="close" onClick="selectorHospedagemWeb()" data-dismiss="alert" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
					  </div>
										  
					  <div class="alert alert2 {$colorMsgEmail} alert-dismissible fade show {$showOrHiddenMsgEmail} col" role="alert">
							<span >{$resultVerifyDomainEmail} </span>
						<button type="button" class="close" onClick="selectorEmail()" data-dismiss="alert" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
					  </div>
					  

				</form>
		</div>

</section>

<section>	  
	<div class="container">
		<div class="row fundo">
			<div class="col-md-6 noticias _timeline card">
			<div class="card-body">
				<h2 class="_text-center"><u>Incidentes</u></h2>
				
				<ul class="timeline list-unstyled ">

					{loop="$incidentes"}
						<li>
							<hr>
							<h5 class="card-subtitle text-dark text-center"> {$value.title} </h5>
							

							<p class="font-italic text-sm-left text-black-50">Criado: {$value.dt_criacao}</p>					
							
							<p class="card-text">{$value.descricao}</p>
							<a href="{$value.category}/{$value.id}" class="btn btn-outline-primary">Leia mais...</a>
						</li>
						<br>
				  {/loop}
										
				</ul>
			</div>
			</div>

			<div class="col-md-6 avisos _timeline card">
			<div class="card-body">
				<h2 class="_text-center"><u>Comunicados</u></h2>
				

				<ul class="timeline list-unstyled">
				
					{loop="$comunicados"}
						<hr>
						<li>
							<h5 class="card-subtitle text-dark text-center"> {$value.title} </h5>							

							<p class="font-italic text-sm-right text-black-50">Criado: {$value.dt_criacao}</p>				
							
							<p>{$value.descricao}</p>
							<a href="{$value.category}/{$value.id}" class="btn btn-outline-primary ">Leia mais...</a>
							
						</li>
						<br>
				  {/loop}
					
				</ul>
			</div>	
			</div>
		</div>
		
	</div>
	<div class="container ">
		<div class="row fundo">
			<div class="col-md-6 _text-center">
					<a href="todos"><button type="button" class="btn btn-info">Todos Incidentes</button></a>
			</div>
			<div class="col-md-6 text-center">
					<a href="comunicados"><button type="button" class="btn btn-info " >Todos comunicados</button></a>
			</div>
		</div>
	</div>	

</section>

<script>
function selectorEmail() {
  $(".alert2").stop().fadeTo(1, 1).removeClass('hidden');
  window.setTimeout(function() {
    $(".alert2").fadeTo(500, 0).slideUp(500, function(){
        $(".alert2").addClass('hidden');
    });
  }, 1000); 
}

function selectorHospedagemWeb() {
  $(".alert1").stop().fadeTo(1, 1).removeClass('hidden');
  window.setTimeout(function() {
    $(".alert1").fadeTo(500, 0).slideUp(500, function(){
        $(".alert1").addClass('hidden');
    });
  }, 1000); 
}
</script>


