<section>           

<div class="row clearfix">
	<div class="col-md-12 column">
		<div class="list-group">
      <ul class="list-group">
			  <li class="list-group-item">
				<div class="primarytable">

				
			  	<table class="table table-striped table-bordered table-condensed table-hover">
						<tr>
							<th><span class="d-flex justify-content-center"> Serviço</span></th>
							<th><span class="d-flex justify-content-center"> Status</span></th>
							
						</tr>
						
						<tr>
							<td><h5><span class="cluster-email d-flex justify-content-center">Email</span></h5></td>
							<td>
								<div class="d-flex justify-content-center">
									<span class="{$statusEmail}">{$messageStatusEmail}</span>
									<a href="mail-details">						
										<i class="fas fa-plus-circle fa-lg" title="Saiba mais" data-toggle="tooltip" data-placement="bottom" ></i>
									</a>
								</div>
							</td>
												
							
						</tr>

						<tr>
							<td><h5><span class="cluster-email d-flex justify-content-center">Hospedagem Web</span></h5></td>
							<td>
								<div class="d-flex justify-content-center">
									<span class="{$statusHospedagem}">{$messageStatusHospedagem}</span>			    
									<!--<td><span class="badge badge-success">Operational</span></td> -->
									<a href="web-details">
										<i class="fas fa-plus-circle fa-lg" title="Saiba mais" data-toggle="tooltip" data-placement="bottom" ></i>
									</a>
								</div>
							</td>							
							
						</tr>

						<tr>
							<td><h5><span class="cluster-email d-flex justify-content-center">Backup</span></h5></td>
							<td >
								<div class="d-flex justify-content-center">
									<span class="{$statusBackup}">{$messageStatusBackup}</span>
									<a href="backup">
										<!--<td><span class="badge badge-warning">Warning</span></td>-->
										<i class="fas fa-plus-circle fa-lg" title="Previsão {$previsaBackup}" data-toggle="tooltip" data-placement="bottom" ></i>
									</a>
								</div>
							</td>							
							
						</tr>

						<tr>
							<td><h5><span class="cluster-email d-flex justify-content-center">Painel de Controle</span></h5></td>
							<td >
								<div class="d-flex justify-content-center">
									<span class="{$statusPainel}">{$messageStatusPainel}</span>
									<a href="painel">
										<!--<td><span class="badge badge-warning">Warning</span></td>-->
										<i class="fas fa-plus-circle fa-lg" title="Previsão {$previsaoPainel}" data-toggle="tooltip" data-placement="bottom" ></i>
									</a>
								</div>
							</td>							
							
						</tr>
				  </table>  
				</div>                                 					
			  </li>
			</ul>
              
    </div>
  </div>        
</div>

</section>


<section>	  
	<div class="container">
		<div class="row fundo">
			<div class="col-md-6 noticias _timeline">
				<h2 class="_text-center"><u>Incidentes</u></h2>
				<ul class="timeline">

					{loop="$incidentes"}
						<li>

							<a href="{$value.category}/{$value.id}"><u><b>{$value.title}</b></u></a>

							<p>{$value.dt_criacao}</p>					
							
							<p>{$value.descricao}</p>

						</li>
				  {/loop}
										
				</ul>
				
			</div>

			<div class="col-md-6 avisos _timeline">
				<h2 class="_text-center"><u>Comunicados</u></h2>

				<ul class="timeline">
				
					{loop="$comunicados"}
						<li>
							<a href="{$value.category}/{$value.id}"><u><b>{$value.title}</b></u></a>

							<p>{$value.dt_criacao}</p>				
							
							<p>{$value.descricao}</p>
							
						</li>
				  {/loop}
					
				</ul>
				
			</div>
		</div>
		
	</div>
	<div class="container ">
		<div class="row fundo">
			<div class="col-md-6 _text-center">
					<a href="todos"><button type="button" class="btn btn-info">Todos Incidentes</button></a>
			</div>
			<div class="col-md-6 text-center">
					<a href="comunicados"><button type="button" class="btn btn-info " >Todos comunicados</button></a>
			</div>
		</div>
	</div>	

</section>


