  <!-- Navigation -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          
          {loop="$incidentes"}
            <div class="incidentes-email">
              <p class="titulo">
                  <span>{$value.dt_criacao}</span>                      
                  <h3><a href="{$value.category}/{$value.id}">{$value.title}</a></h3>                        
              </p>

              <p class="lead text-left">                      
                  {$value.descricao}
              </p>
              
              <br>
            </div>
          {/loop}
          
        </div>
      </div>
    </div>
  </section>
    <!--
      <section id="services" class="bg-light">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>Services we offer</h2>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
            </div>
          </div>
        </div>
      </section>
    -->
      