  <!-- Navigation -->

  <!--
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          
          {loop="$incidentes"}
						
							<hr>
							<h5 class="card-subtitle text-dark text-center"> {$value.title} </h5>
							

							<p class="font-italic text-sm-left text-black-50">Criado: {$value.dt_criacao}</p>					
							
							<p class="card-text">{function="nl2br(str_replace("<br />","<br>\\r\\n",substr($value.descricao,0,400)))"}</p>
							<a href="{$value.category}/{$value.id}" class="btn btn-outline-primary">Leia mais...</a>
						
						<br>
				  {/loop}
          
        </div>
      </div>
    </div>
  </section>
-->

<section id="about">
  
    <div class="card-columns">
      
        
        {loop="$incidentes"}
        <div class="card">
            
            <div class="card-body">
            <h5 class="card-subtitle text-dark text-center"> {$value.title} </h5>
            

            <p class="font-italic text-sm-left text-black-50">Criado: {$value.dt_criacao}</p>					
            
            <p class="card-text">{$value.descricao}</p>
            <a href="{$value.category}/{$value.id}" class="btn btn-outline-primary">Leia mais...</a>
          </div>
          <br>
        </div>
        {/loop}
        
      
    </div>
  
</section>


    <!--
      <section id="services" class="bg-light">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>Services we offer</h2>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
            </div>
          </div>
        </div>
      </section>
    -->
      