<section>

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="list-group">
                <ul class="list-group">
                    <li class="list-group-item">
                    <div class="secundarytable">
                        <table class="table table-striped table-bordered table-condensed table-hover">
                            <tr>
                                <th><span class="d-flex justify-content-center">Servidores</span></th>
                                <th><span class="d-flex justify-content-center">HTTP</span></th>
                                <th><span class="d-flex justify-content-center">Banco de dados</span></th>


                            </tr>

                            <tr>
                                <td>
                                    <h5><span class="cluster-email">Linux 1</span></h5>
                                </td>
                                
                                <td>
                                    <div class="d-flex justify-content-center">
                                            <span class="{$dataHttpLin1['status']}">{$dataHttpLin1['message']}</span>
                                            <a href="email">
                                                    <i class="fas fa-plus-circle fa-lg"
                                                            title="Previsão: {$dataHttpLin1['previsao']}"
                                                            data-toggle="tooltip"
                                                            data-placement="bottom"></i>
                                            </a>
                                    </div>
                                </td>

                                <td>
                                    <div class="d-flex justify-content-center">
                                            <span class="{$dataBdLin1['status']}">{$dataBdLin1['message']}</span>
                                            <a href="email">
                                                    <i class="fas fa-plus-circle fa-lg"
                                                            title="Previsão: {$dataBdLin1['previsao']}"
                                                            data-toggle="tooltip"
                                                            data-placement="bottom"></i>
                                            </a>
                                    </div>
                                </td>




                            </tr>

                            <tr>
                                <td>
                                    <h5><span class="cluster-email">Linux 3</span></h5>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-center">
                                            <span class="{$dataHttpLin3['status']}">{$dataHttpLin3['message']}</span>
                                            <a href="email">
                                                    <i class="fas fa-plus-circle fa-lg"
                                                            title="Previsão: {$dataHttpLin3['previsao']}"
                                                            data-toggle="tooltip"
                                                            data-placement="bottom"></i>
                                            </a>
                                    </div>
                                </td>

                                <td>
                                    <div class="d-flex justify-content-center">
                                            <span class="{$dataBdLin3['status']}">{$dataBdLin3['message']}</span>
                                            <a href="email">
                                                    <i class="fas fa-plus-circle fa-lg"
                                                            title="Previsão: {$dataBdLin3['previsao']}"
                                                            data-toggle="tooltip"
                                                            data-placement="bottom"></i>
                                            </a>
                                    </div>
                                </td>




                            </tr>

                            <tr>
                                <td>
                                    <h5><span class="cluster-email">Windows</span></h5>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-center">
                                            <span class="{$dataHttpWin['status']}">{$dataHttpWin['message']}</span>
                                            <a href="email">
                                                    <i class="fas fa-plus-circle fa-lg"
                                                            title="Previsão: {$dataHttpWin['previsao']}"
                                                            data-toggle="tooltip"
                                                            data-placement="bottom"></i>
                                            </a>
                                    </div>
                                </td>

                                <td>
                                    <div class="d-flex justify-content-center">
                                            <span class="{$dataBdWin['status']}">{$dataBdWin['message']}</span>
                                            <a href="email">
                                                    <i class="fas fa-plus-circle fa-lg"
                                                            title="Previsão: {$dataBdWin['previsao']}"
                                                            data-toggle="tooltip"
                                                            data-placement="bottom"></i>
                                            </a>
                                    </div>
                                </td>
                            </tr>
                        </table> 
                    </div>                     
                    </li>
                </ul>

            </div>
        </div>
    </div>

</section>