
<section>           

<div class="row clearfix">
	<div class="col-md-12 column">
		<div class="list-group">
      <ul class="list-group">
			  <li class="list-group-item">
			  	<table>
						<tr>
                            <th></th>
                            <th>HTTP</th>
							<th>Banco de dados</th>							
                            
                                                        
						</tr>
						
						<tr>
							<td><h5><span class="cluster-email">Linux 1</span></h5></td>
							<td>
                                <span class="badge badge-success">OK</span>
                                <a href="hospedagem">
                                    <i class="fas fa-plus-circle" title="25/04/2019 15:00" data-toggle="tooltip" data-placement="bottom" ></i>
                                </a>
                            </td>
                            						
                            <td>
                                <span class="badge badge-success">OK</span>
                                <a href="hospedagem">
                                    <i class="fas fa-plus-circle" title="25/04/2019 15:00" data-toggle="tooltip" data-placement="bottom" ></i>
                                </a>
                            </td>

                           

                           
						</tr>

						<tr>
							<td><h5><span class="cluster-email">Linux 3</span></h5></td>
                            <td>
                                    <span class="badge badge-success">OK</span>
                                    <a href="hospedagem">
                                        <i class="fas fa-plus-circle" title="25/04/2019 15:00" data-toggle="tooltip" data-placement="bottom" ></i>
                                    </a>
                                </td>
                                                        
                                <td>
                                    <span class="badge badge-success">OK</span>
                                    <a href="hospedagem">
                                        <i class="fas fa-plus-circle" title="25/04/2019 15:00" data-toggle="tooltip" data-placement="bottom" ></i>
                                    </a>
                                </td>
    
                               
    
                                
						</tr>

						<tr>
							<td><h5><span class="cluster-email">Windows</span></h5></td>
                                <td>
                                    <span class="badge badge-success">OK</span>
                                    <a href="hospedagem">
                                        <i class="fas fa-plus-circle" title="25/04/2019 15:00" data-toggle="tooltip" data-placement="bottom" ></i>
                                    </a>
                                </td>
                                                        
                                <td>
                                    <span class="badge badge-success">OK</span>
                                    <a href="hospedagem">
                                        <i class="fas fa-plus-circle" title="25/04/2019 15:00" data-toggle="tooltip" data-placement="bottom" ></i>
                                    </a>
                                </td>
    
                               
                                
						</tr>
				  </table>                                   					
			  </li>
			</ul>
              
    </div>
  </div>        
</div>

</section>


