<section>

        <div class="row clearfix">
                <div class="col-md-12 column">
                        <div class="list-group">
                                <ul class="list-group">
                                        <li class="list-group-item">
                                                <table
                                                        class="table table-striped table-bordered table-condensed table-hover">
                                                        <tr>

                                                                <th>Servidores</th>
                                                                <th> <span class="d-flex justify-content-center">
                                                                                IMAP</span></th>
                                                                <th> <span class="d-flex justify-content-center">
                                                                                POP</span></th>
                                                                <th> <span class="d-flex justify-content-center">
                                                                                SMTP</span></th>
                                                                <th> <span class="d-flex justify-content-center">
                                                                                Webmail</span></th>
                                                                <th> <span class="d-flex justify-content-center">
                                                                                Colaboração</span></th>
                                                                <th> <span class="d-flex justify-content-center">
                                                                                Fila</span></th>
                                                        </tr>

                                                        <tr>

                                                                <td>
                                                                        <h5><span class="cluster-email">Mail 01</span>
                                                                        </h5>
                                                                </td>
                                                                <td>
                                                                        <div class="d-flex justify-content-center">
                                                                                <span
                                                                                        class="badge badge-success">OK</span>
                                                                                <a href="email">
                                                                                        <i class="fas fa-plus-circle fa-lg"
                                                                                                title="25/04/2019 15:00"
                                                                                                data-toggle="tooltip"
                                                                                                data-placement="bottom"></i>
                                                                                </a>
                                                                        </div>
                                                                </td>

                                                                <td>
                                                                        <div class="d-flex justify-content-center">
                                                                                <span
                                                                                        class="badge badge-success">OK</span>
                                                                                <a href="email">
                                                                                        <i class="fas fa-plus-circle fa-lg"
                                                                                                title="25/04/2019 15:00"
                                                                                                data-toggle="tooltip"
                                                                                                data-placement="bottom"></i>
                                                                                </a>
                                                                        </div>
                                                                </td>

                                                                <td>
                                                                        <div class="d-flex justify-content-center">
                                                                                <span
                                                                                        class="badge badge-success">OK</span>
                                                                                <a href="email">
                                                                                        <i class="fas fa-plus-circle fa-lg"
                                                                                                title="25/04/2019 15:00"
                                                                                                data-toggle="tooltip"
                                                                                                data-placement="bottom"></i>
                                                                                </a>
                                                                        </div>
                                                                </td>

                                                                <td>
                                                                        <div class="d-flex justify-content-center">
                                                                                <span
                                                                                        class="badge badge-success">OK</span>
                                                                                <a href="email">
                                                                                        <i class="fas fa-plus-circle fa-lg"
                                                                                                title="25/04/2019 15:00"
                                                                                                data-toggle="tooltip"
                                                                                                data-placement="bottom"></i>
                                                                                </a>
                                                                        </div>
                                                                </td>
                                                                <td>
                                                                        <div class="d-flex justify-content-center">
                                                                                <span
                                                                                        class="badge badge-success">OK</span>
                                                                                <a href="email">
                                                                                        <i class="fas fa-plus-circle fa-lg"
                                                                                                title="25/04/2019 15:00"
                                                                                                data-toggle="tooltip"
                                                                                                data-placement="bottom"></i>
                                                                                </a>
                                                                        </div>
                                                                </td>
                                                                <td>
                                                                        <div class="d-flex justify-content-center">
                                                                                <span
                                                                                        class="badge badge-success">OK</span>
                                                                                <a href="email">
                                                                                        <i class="fas fa-plus-circle fa-lg"
                                                                                                title="25/04/2019 15:00"
                                                                                                data-toggle="tooltip"
                                                                                                data-placement="bottom"></i>
                                                                                </a>
                                                                        </div>
                                                                </td>
                                                        </tr>

                                                        <tr>
                                                                <td>
                                                                        <h5><span class="cluster-email">Mail 02</span>
                                                                        </h5>
                                                                </td>
                                                                <td>
                                                                        <div class="d-flex justify-content-center">
                                                                                <span
                                                                                        class="badge badge-success">OK</span>
                                                                                <a href="email">
                                                                                        <i class="fas fa-plus-circle fa-lg"
                                                                                                title="25/04/2019 15:00"
                                                                                                data-toggle="tooltip"
                                                                                                data-placement="bottom"></i>
                                                                                </a>
                                                                        </div>
                                                                </td>

                                                                <td>
                                                                        <div class="d-flex justify-content-center">
                                                                                <span
                                                                                        class="badge badge-success">OK</span>
                                                                                <a href="email">
                                                                                        <i class="fas fa-plus-circle fa-lg"
                                                                                                title="25/04/2019 15:00"
                                                                                                data-toggle="tooltip"
                                                                                                data-placement="bottom"></i>
                                                                                </a>
                                                                        </div>
                                                                </td>

                                                                <td>
                                                                        <div class="d-flex justify-content-center">
                                                                                <span
                                                                                        class="badge badge-success">OK</span>
                                                                                <a href="email">
                                                                                        <i class="fas fa-plus-circle fa-lg"
                                                                                                title="25/04/2019 15:00"
                                                                                                data-toggle="tooltip"
                                                                                                data-placement="bottom"></i>
                                                                                </a>
                                                                        </div>
                                                                </td>

                                                                <td>
                                                                        <div class="d-flex justify-content-center">
                                                                                <span
                                                                                        class="badge badge-success">OK</span>
                                                                                <a href="email">
                                                                                        <i class="fas fa-plus-circle fa-lg"
                                                                                                title="25/04/2019 15:00"
                                                                                                data-toggle="tooltip"
                                                                                                data-placement="bottom"></i>
                                                                                </a>
                                                                        </div>
                                                                </td>
                                                                <td>
                                                                        <div class="d-flex justify-content-center">
                                                                                <span
                                                                                        class="badge badge-success">OK</span>
                                                                                <a href="email">
                                                                                        <i class="fas fa-plus-circle fa-lg"
                                                                                                title="25/04/2019 15:00"
                                                                                                data-toggle="tooltip"
                                                                                                data-placement="bottom"></i>
                                                                                </a>
                                                                        </div>
                                                                </td>
                                                                <td>
                                                                        <div class="d-flex justify-content-center">
                                                                                <span
                                                                                        class="badge badge-success">OK</span>
                                                                                <a href="email">
                                                                                        <i class="fas fa-plus-circle fa-lg"
                                                                                                title="25/04/2019 15:00"
                                                                                                data-toggle="tooltip"
                                                                                                data-placement="bottom"></i>
                                                                                </a>
                                                                        </div>
                                                                </td>
                                                        </tr>

                                                        <tr>
                                                                <td>
                                                                        <h5><span class="cluster-email">Mail 03</span>
                                                                        </h5>
                                                                </td>
                                                                <td>
                                                                        <div class="d-flex justify-content-center">
                                                                                <span
                                                                                        class="badge badge-success">OK</span>
                                                                                <a href="email">
                                                                                        <i class="fas fa-plus-circle fa-lg"
                                                                                                title="25/04/2019 15:00"
                                                                                                data-toggle="tooltip"
                                                                                                data-placement="bottom"></i>
                                                                                </a>
                                                                        </div>
                                                                </td>

                                                                <td>
                                                                        <div class="d-flex justify-content-center">
                                                                                <span
                                                                                        class="badge badge-success">OK</span>
                                                                                <a href="email">
                                                                                        <i class="fas fa-plus-circle fa-lg"
                                                                                                title="25/04/2019 15:00"
                                                                                                data-toggle="tooltip"
                                                                                                data-placement="bottom"></i>
                                                                                </a>
                                                                        </div>
                                                                </td>

                                                                <td>
                                                                        <div class="d-flex justify-content-center">
                                                                                <span
                                                                                        class="badge badge-success">OK</span>
                                                                                <a href="email">
                                                                                        <i class="fas fa-plus-circle fa-lg"
                                                                                                title="25/04/2019 15:00"
                                                                                                data-toggle="tooltip"
                                                                                                data-placement="bottom"></i>
                                                                                </a>
                                                                        </div>
                                                                </td>

                                                                <td>
                                                                        <div class="d-flex justify-content-center">
                                                                                <span
                                                                                        class="badge badge-success">OK</span>
                                                                                <a href="email">
                                                                                        <i class="fas fa-plus-circle fa-lg"
                                                                                                title="25/04/2019 15:00"
                                                                                                data-toggle="tooltip"
                                                                                                data-placement="bottom"></i>
                                                                                </a>
                                                                        </div>
                                                                </td>
                                                                <td>
                                                                        <div class="d-flex justify-content-center">
                                                                                <span
                                                                                        class="badge badge-success">OK</span>
                                                                                <a href="email">
                                                                                        <i class="fas fa-plus-circle fa-lg"
                                                                                                title="25/04/2019 15:00"
                                                                                                data-toggle="tooltip"
                                                                                                data-placement="bottom"></i>
                                                                                </a>
                                                                        </div>
                                                                </td>
                                                                <td>
                                                                        <div class="d-flex justify-content-center">
                                                                                <span
                                                                                        class="badge badge-success">OK</span>
                                                                                <a href="email">
                                                                                        <i class="fas fa-plus-circle fa-lg"
                                                                                                title="25/04/2019 15:00"
                                                                                                data-toggle="tooltip"
                                                                                                data-placement="bottom"></i>
                                                                                </a>
                                                                        </div>
                                                                </td>
                                                        </tr>
                                                </table>
                                        </li>
                                </ul>

                        </div>
                </div>
        </div>

</section>