<section id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">              
              

            {loop="$result"}					
              <p class="font-italic text-sm-left text-black-50">Criado: {$value.dt_criacao}</p>
							<h5 class="card-subtitle text-dark text-center titulo"> {$value.title} </h5>
							<p class="card-text">{function="nl2br(str_replace("<br />","<br>\\r\\n",$value.descricao))"}</p>
				    {/loop}
              
            </div>
          </div>
        </div>
    </section>
      