<section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto indidentesdetails">
          <!--
          {loop="$result"}
            <div class="incidentes-email">
              <p class="titulo">
                  <span>Data de criação: {$value.dt_criacao}</span>
                  
                  <h3>{$value.title}</h3>  
                  
              </p>

              <p class="status"> Status: <b>{$value.status_service}</b></p>

              <p class="lead text-left">                  
                  {function="nl2br(str_replace("<br />","<br>\\r\\n",$value.descricao))"}

                  
              </p>

              <p class="previsao">                  
                  Previsão: <b>{$previsao}</b>
              </p>
              
              
              
              <br>
            </div>
          {/loop} 
          -->
          {loop="$result"}
					
              <p class="font-italic text-sm-left text-black-50">Criado: {$value.dt_criacao}</p>
							<h5 class="card-subtitle text-dark text-center"> {$value.title} </h5>
							<p class="status text-black-50"> Status: <b>{$value.status_service}</b></p>

												
							
							<p class="card-text">{function="nl2br(str_replace("<br />","<br>\\r\\n",$value.descricao))"}</p>
							<p class="previsao text-black-50">                  
                  Previsão: <b>{$previsao}</b>
              </p>
						
						<br>
				  {/loop}
          

        </div>
      </div>
    </div>
</section>
  